<div class="row m-0 justify-content-center block-content-tabs-information" id="motos-nuevas">
	<div class="container-fluid">
		<div id="shopify-section-ducati-motos-nuevas-title-tabs" class="shopify-section agusta-seminuevas-tabs row justify-content-center">
			<div class="col-11 col-lg-12">
				<div class="tab-content" id="myTabContent">
					{% for block in section.blocks %}
						<div class="tab-pane fade {% if forloop.first %} show active{% endif %}" id="{{block.settings.tab_name | handleize}}" role="tabpanel" aria-labelledby="{{block.settings.tab_name | handleize}}-tab">
							<div class="row justify-content-center">
								<div class="col-11 col-sm-11 col-lg-12 col-xl-11 col-xxl-10">
									{%- assign featured_product = collections[block.settings.featured_product_handle] -%}
									{%- for product in featured_product.products -%}
										{% include 'catalog-card-product-list', cProduct:product %}
									{%- endfor -%}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Collections Tabs",
  "settings": [
    {
      "type": "header",
      "content": "==== Imagen icono ===="
    },
    {
      "type": "image_picker",
      "id": "image_icono",
      "label": "Icono"
    },
    {
      "type": "header",
      "content": "==== Titulos ===="
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titulo"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitulo"
    },
    {
      "type": "color",
      "id": "bg_block",
      "label": "Background",
      "default": "#f5f5f5"
    }],
  "blocks": [
    {
      "type": "collection_tab",
      "name": "coltab",
      "settings": [

        {
          "type": "collection",
          "id": "featured_product_handle",
          "label": "Select Collection"
        },{
          "type": "text",
          "id": "tab_name",
          "label": "Tab Name"
        },
        {
          "type": "color",
          "id": "bg_block",
          "label": "Background",
          "default": "#f5f5f5"
        }
      ]}]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
