<div class="container-fluid p-0">
	{% section 'content-banner-txt-button-ducati' %}
	{% section 'content-description-ducati-short' %}
	{% section 'ducati-banner-secundario' %}
   {% section 'collections-tabs' %}
</div>