<div class="container-fluid motos-augusta">
  {% section 'agusta-motos-seminuevas-banner' %}
  {% section 'agusta-motos-seminuevas-km' %}
  {% section 'agusta-motos-seminuevas-banner-sec' %}
  {% section 'collections-tabs-agusta' %}
</div>