<div class="container-fluid motos-augusta">
	{% section 'scrambler-motos-seminuevas-banner' %}
	{% section 'scrambler-motos-seminuevas-short-des' %}
	{% section 'scrambler-motos-seminuevas-banner-sec' %}
	{% section 'collections-tabs-scrambler' %}
</div>